.navbar {
	transition: all 0.4s;
	height: 6rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar .nav-link {
	color: rgba(255, 255, 255, 0.7);
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
	color: #fff;
	text-decoration: none;
}

.navbar .navbar-brand {
	color: #fff;
	font-size: 2rem;
}

/* Change navbar styling on scroll */
.navbar.active {
	background: #fff;
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
	height: 4rem;
}

.navbar.active .nav-link {
	color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
	color: #007bff;
	text-decoration: none;
}

.navbar.active .navbar-brand {
	color: #007bff;
}

#menu-open {
	display: none;
}

.menu-open-logo {
	color: #fff;
}
.menu-open-logo.active {
	color: #007bff;
}

#collapsable-navbar {
	position: fixed;
	right: -100vw;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 1;
	transition: all 500ms ease-in-out;
}

#collapsable-navbar.open {
	right: 0;
}

#collapsable-navbar ul {
	padding: 0;
	padding-top: 50%;
}

#collapsable-navbar ul li {
	list-style: none;
	padding: 1rem 2rem;
}

#collapsable-navbar ul li > a {
	color: black;
}

/* Change navbar styling on small viewports */
@media (max-width: 600px) {
	#navbarSupportedContent {
		display: none;
	}

	#menu-open {
		display: block;
	}
}
